/* src/App.css */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /* Đẩy footer xuống cuối khi nội dung ít */
}

.footer {
    background-color: #312b29;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    color: #f3efef;
    font-size: 1em;
}

.footer-section a {
    margin: 0 5px;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
}

.footer-bottom {
    font-size: 0.9em;
    color: #aba4a4;
}